html {
    background-color: darkcyan;
}
.container-fluid {
    background-color: darkcyan;
}

input[type="text"] {
     color: whitesmoke;
    background: transparent;
}

input[type="text"] :focus {
    color: whitesmoke;
    background: transparent;
}